* {
  font-family: 'Noto Sans JP', sans-serif;
}
.title {
  background-color: rgba(1,148,243,1.00);
  width: 100%;
  color: #fff;
  margin: 0px;
  min-height: 150px;
}
.content-title {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  /* grid-gap: 15px; */
  /* gap: 15px; */
  flex-wrap: wrap;
  padding-top: 10px;
}
.content-title h1 {
  font-size: 24px;
}
.form-rigister {
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-height: 650px;
  margin: auto;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.content-left {
  width: 32%;
}
.content-endow {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content-endow img {
  width: 70px;
}
.content-endow .content-endow-title {
  font-size: 19px;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.content-endow p {
  font-size: 16px;
  /* font-family: 'Noto Sans JP', sans-serif!important; */

}
.content-endow a {
  text-decoration: none;
  color: rgba(1,148,243,1.00)!important;
}
.content-right {
  margin-left: 1%;
  width: 32%;
}
.form-content {
  width: 34%;
  margin-left: 1%;
  font-family: 'Noto Sans JP', sans-serif!important;

}
.form-content-submit {
  border-radius: 15px;
  height: 380px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 2px rgb(3 18 26 / 20%);
  transform: translateY(-120px);
}
.info-register-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-register-title h2 {
  text-align: center;
}
.input-method {
  display: flex;
}
.input-method h4 {
  width: 35%;
  margin-left: 15px;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.input-method button {
  color: rgb(2, 100, 200);
  border: none;
  cursor: pointer;
  font-size: 15px;
  background: none;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.note-input-info {
  margin-left: 15px;
  margin-top: -30px;
  color: rgba(104,113,118,1.00);
  font-family: 'Noto Sans JP', sans-serif!important;
}
.input-data-form {
  margin-left: 15px;
  display: flex;
  margin-top: -15px;
}
.div-country {
  height: 40px;
  width: 15%;
  position: relative;
}

.div-country .option-country {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  /* padding-left: 25%; */
  font-family: 'Noto Sans JP', sans-serif!important;
  text-align: left;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-country-option {
  width: 360px;
  background-color: #fff;
  overflow-y: auto;
  transition: height 0.5s ease-out;
}
.option-slected {
  width: 100%;
}
.option-slected:hover {
  background-color: rgba(66,133,244,1.00);
  color: #fff;
}
.div-phone {
  width: 50%;
  margin-left: 3%;
  border-bottom-color: rgba(205,208,209,1.00);
  border-left-color: rgba(205,208,209,1.00);
  border-right-color: rgba(205,208,209,1.00);
  border-top-color: rgba(205,208,209,1.00);
}
.div-phone input {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  height: 40px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif!important;
  font-size: 17px;
  border-bottom-color: rgba(205,208,209,1.00);
  border-left-color: rgba(205,208,209,1.00);
  border-right-color: rgba(205,208,209,1.00);
  border-top-color: rgba(205,208,209,1.00);
}
.div-email {
  width: 70%;
}
.div-email input {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  height: 40px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif!important;
  border-bottom-color: rgba(205,208,209,1.00);
  border-left-color: rgba(205,208,209,1.00);
  border-right-color: rgba(205,208,209,1.00);
  border-top-color: rgba(205,208,209,1.00);
  font-size: 17px;
}
.div-submit {
  width: 30%;
  margin-left: 2%;
}
.div-submit button {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  height: 40px;
  width: 80%;
  color: #fff;
  background-color: rgb(223, 68, 15);
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.note-input-submit {
  margin-left: 15px;
  margin-top: -15px;
  color: rgba(104,113,118,1.00);
  font-family: 'Noto Sans JP', sans-serif!important;
}
.note-input-login {
  height: 50px;
  text-align: center;
  background-color: rgba(236,248,255,1.00);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.note-input-login a {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: rgb(1, 148, 243);
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.note-input-policy {
  height: 80px;
  text-align: center;
  font-size: 15px;
  display: block;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.note-input-policy a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(1, 148, 243);
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.fb {
  margin-top: 20px;
  height: 35px;
  text-align: center;
  background-color: rgba(59,89,152,1.00);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.gg {
  margin-top: 10px;
  height: 35px;
  text-align: center;
  background-color: rgba(66,133,244,1.00);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.security {
  margin-top: 10px;
  height: 50px;
  text-align: center;
  background-color: rgba(255,255,255,1.00);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  font-family: 'Noto Sans JP', sans-serif!important;
  box-shadow: 0px 1px 2px rgb(3 18 26 / 20%);
}
.security-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}
.security-content {
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.security-content a {
  color: rgb(1, 148, 243);
  font-family: 'Noto Sans JP', sans-serif!important;
  cursor: pointer;
}
.author {
  margin-top: 10px;
  height: 50px;
  text-align: center;
  background-color: rgba(255,255,255,1.00);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.message-submit {
  height: 80px;
  text-align: center;
  background-color: rgb(236, 248, 255);
  border: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.div-otp {
  width: 70%;
  border-bottom-color: rgba(205,208,209,1.00);
  border-left-color: rgba(205,208,209,1.00);
  border-right-color: rgba(205,208,209,1.00);
  border-top-color: rgba(205,208,209,1.00);
}
.div-otp input {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 8px;
  height: 40px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif!important;
  font-size: 17px;
  border-bottom-color: rgba(205,208,209,1.00);
  border-left-color: rgba(205,208,209,1.00);
  border-right-color: rgba(205,208,209,1.00);
  border-top-color: rgba(205,208,209,1.00);
}
.note-input-info-message {
  margin-left: 15px;
  font-family: 'Noto Sans JP', sans-serif!important;
}
.note-input-submit-message {
  margin-left: 15px;
}
.note-input-submit-message a {
  text-decoration: none;
  color: rgb(1, 148, 243);
  cursor: pointer;
  padding-left: 3px;
}
.submit-otp {
  background-color: rgb(242, 243, 243)!important;
  color: rgb(205, 208, 209)!important;
}
.validate {
  color: rgb(249, 41, 41);
  font-size: 12px;
  height: 10px;
}
