.themloaitourpage{
    width: 85%;
    background-color: rgb(242, 247, 247);
    position: relative;
    float: right;
    
    height: 1000px;
    padding: 0px 80px;
}

.form{
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 6px;
}

.form button{
    margin-left: 50px;
    width: 200px;
    height: 40px;
    background-color: rgb(255, 94, 31);
    color: white;
    font-size: medium;
    
    
}

.loaitour input{
    height: 40px;
    margin-left: 20px;
    margin-right: 500px;
    border-radius: 6px;
}