.slick-prev, .slick-next {
  
  border-radius: 50%;
}
.content_promotion {
  background: rebeccapurple!important;
  width: 90%!important;
  display: inline-block;
  margin-left: 3%!important;
  margin-right: 3%!important;
}
.content_promotion img {
  height: 150px;
  width: 100%;
}