.content {
  width: 85%;
  background-color: rgb(242, 247, 247);
  position: relative;
  float: right;
  overflow-y: scroll;
  height: 1000px;
  padding: 0px 80px;
}

.content::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(177, 177, 177);
}
.content::-webkit-scrollbar-thumb {
  background-color: rgb(48, 36, 155);
}

.content img {
  width: 50px;
}

.content h1 {
  margin-top: 40px;
  font-size: medium;
  color: olive;
  margin-left: 55px;
}
.total {
  border-radius: 6px;
  background-color: white;
  width: 20%;
  margin-left: 55px;
  outline-style: solid;
  outline-color: rgb(241, 245, 245);
  box-shadow: 1px 2px 1px 2px rgb(209, 206, 206);
}
.totalve {
  background-color: rgb(22, 129, 236);
  padding-top: 5px;
  text-align: center;
  color: rgb(240, 245, 245);
  height: 40px;
}

.totalvehuy {
  background-color: rgb(240, 77, 77);
  padding-top: 5px;
  text-align: center;
  color: rgb(240, 245, 245);
  height: 40px;
}

.totalkhach {
  background-color: rgb(150, 182, 8);
  padding-top: 5px;
  text-align: center;
  color: rgb(240, 245, 245);
  height: 40px;
}

.totaltour {
  background-color: rgb(46, 172, 21);
  padding-top: 5px;
  text-align: center;
  color: rgb(240, 245, 245);
  height: 40px;
}
.thongke {
  display: flex;
  text-align: center;
}
.doanhthuthang {
  margin-left: 55px;
  width: 300px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  outline-style: solid;
  outline-color: rgb(241, 245, 245);
  text-align: center;
  box-shadow: 1px 2px 1px 2px rgb(209, 206, 206);
}
.thanhloc {
  background-color: rgb(245, 169, 55);
  height: 40px;
  padding: 8px 0px;
}
.thanhloc label {
  color: rgb(241, 245, 245);
}
.month {
  border-width: 0px;
  border-radius: 6px;
  width: 100px;
  margin-left: 10px;
  text-align: center;
  width: 50px;
  height: 30px;
}

.bieudo {
  margin-left: 55px;
  margin-right: 70px;
  background-color: white;

  border-radius: 6px;
  padding: 60px 0px;
  margin-bottom: 40px;
}

.months {
  background-color: rgb(108, 221, 236);
  padding-top: 10px;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 6px;
  margin-left: 55px;
  outline-style: solid;
  outline-color: rgb(108, 221, 236);
  box-shadow: 1px 2px 1px 2px rgb(209, 206, 206);
}

/* hiệu ứng */
.month:focus {
  outline: none !important;
  border: 2px solid rgb(108, 221, 236);
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}

.heading {
  font-size: 30px !important;
}
