

.menu{
    display: flex;
    padding: 10px 40px;
    width: 85%;
    background-color: rgb(150, 191, 233);
    height: 70px;
    float: right;
     
}

.search{
    width: 60%;    
    
    padding: 9px 0px;
}

.search_field input , button {
    height: 32px;
    border-radius: 6px;
    border-style: none;
    margin-left: 5px;
}
.search_field button{
    width: 32px;
    background-color: rgb(255, 94, 31);
}


.notification{
    display: flex;
    margin-left: 30%;
    width: 10%;
    float: right;
   
    padding: 9px 0px;
}
.mess img{
    width: 18px;
    position: relative;
    top: 5px;
    margin-right: 30px;
}
.frofile img{
    border: 2px solid #d4c894;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
}


/* hiệu ứng */

.search_field input:focus{
    outline: none !important;
    border: 2px solid rgb(1, 148, 243);
}

.search_field button:hover{
    background-color: rgb(244, 91, 15);
}