.label{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}
.input{
    border: 1px solid #dadada;
    border-radius: 2px;
    display: block;
    position: relative;
    letter-spacing: 0.3px;
    padding: 8px 16px;
    width: 100%;
    margin-bottom: 20px;
}
.apdung{
    outline:none;
    padding:8px 30px;
    background-color:#0770CD;
    color:white;
    font-weight:700;
    font-size: 14px;
}
.chitietgia{
    display: flex;
    justify-content: space-between;
}
.chitiet{
padding:24px;
background-color: #f7f8f9;
}
.chitiet p{
margin:0;
margin-bottom: 16px;
font-size: 14px;
}
.chitiet h3{
    margin-bottom: 24px;
    font-weight: 500;
    }
    .dieukhoan{
        margin-top: 24px;
        padding: 0 24px;
        font-size: 14px;
    }
    .dieukhoan p{
        text-align:right;
        line-height: 25px;
    }
    .dieukhoan span{
        color: #0D7FCC;
        cursor: pointer;

    }
    .thanhtoan{
        text-align: right;
        padding: 0 24px;
        float: right;

    }
    .thanhtoan button{
        display: flex;
        align-items: center;
        padding: 20px 40px;
        color: white;
        background-color: #F96D01;
        font-size: 14px;
        cursor: pointer;
    }
    .datcho p{
        margin: 0;
    }
    .ten{
        font-size: 12px;
        font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    color: #8f8f8f;
    }
    .detail{
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    color: #8f8f8f;
    margin: 8px 0;

    }