.wrapper {
  width: 85%;
  background-color: rgb(242, 247, 247);
  position: relative;
  float: right;
  overflow-y: scroll;
  height: 1000px;
  padding: 0px 80px;
}

.clearfix::after,
.clearfix::before {
  clear: both;
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.align-right {
  align-self: flex-end;
}

.tour-image {
  max-width: 100%;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
}

.align-row{
  flex-direction: row;
}
