.clearfix::after,
.clearfix::before {
  clear: both;
}

.wrapper {
  width: 85%;
  background-color: rgb(242, 247, 247);
  position: relative;
  float: right;
  overflow-y: scroll;
  height: 1000px;
  padding: 0px 80px;
}

.content {
  padding-top: 18px;
}

.title {
  text-transform: uppercase;
  font-size: 36px;
}

.form-group {
  padding: 12px;
}

.form-control {
  display: block;
  width: 100%;
}

.form-label {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
}
